html {
    font-family: 'Roboto Slab', serif;
    height: 100%;
    background: rgb(240, 240, 240)
}

body {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr minmax(250px, 10%) minmax(125px, 10%) minmax(125px, 10%) minmax(125px, 10%) minmax(125px, 10%) minmax(125px, 10%) 1fr;
    grid-template-rows: 1fr minmax(600px, 84%) 1fr;
    justify-items: stretch;
    height: 100%;
    width: 100%;

}

a {
    color: inherit;
    text-decoration: inherit;
}

.frame {
    background: #FFF4F2;
    grid-row-start: 2;
    grid-row-end: 3;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: stretch;
}

.button {
    cursor: pointer;
}

.button:hover {
  border-bottom: 1px solid lightpink;
}

.button:active {
  border-bottom: 5px solid lightpink;
}
